{% extends 'base.html' %}

{% block content %}
    <h1>Add Meal</h1>
    <form method="POST">
        <div class="form-group">
            <label for="food_name">Food Name</label>
            <input type="text" class="form-control" id="food_name" name="food_name">
        </div>
        <div class="form-group">
            <label for="expiry_date">Expiry Date</label>
            <input type="date" class="form-control" id="expiry_date" name="expiry_date">
        </div>
        <button type="submit" class="btn btn-primary">Add Meal</button>
    </form>
{% endblock %}
